{% extends "logikApp/base.html" %}
{% block title %}
Restablecer
{% endblock %}
{% block background %}{% load static %}{% static "logikApp/img/reset-pass.jpeg" %}{% endblock %}
{% block header %}
Restablecer
{% endblock %}
{% block header-info %}
tu contraseña sigue las instrucciones
{% endblock %}

{% block content %}
<div class="container">
  <p class="text-muted">¿Olvidaste tu contraseña?, Ingresa tu Email para enviarte instrucciones de recuperacion</p>
  <form class="" action="" method="post">
    {% csrf_token %}
    {{form.email.errors}}
    <p><input type="email" name="email" maxlength="254" required="" class="form-control" placeholder="Email"></p>
      <button type="submit" name="" class="btn btn-primary btn-block">Enviar</button>
  </form>
</div>
{% endblock %}