{% extends "logikApp/base.html" %}
{% block title %}Enviado{% endblock %}
{% block background %}{% load static %}{% static "logikApp/img/reset-done.jpg" %}{% endblock %}
{% block header %}
Restablecido
{% endblock %}
{% block header-info %}
se ha enviado informacion al correo
{% endblock %}
{% block content %}
<div class="container">
  <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
  <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
</div>
{% endblock %}