{% extends "logikApp/base.html" %}
{% block title %}
Personalizar avatar
{% endblock %}
{% block background %}{% load static %}{% static "logikApp/img/profile-img.png" %}{% endblock %}
{% block header %}
Personalizar
{% endblock %}
{% block header-info %}
Avatar de Sesión
{% endblock %}
{% block content %}
<h2 class="">Cargar imagen</h2>
<form role="form" class="" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.asp_p}}
  <button type="submit" name="">Actualizar</button>
</form>
{% endblock %}